<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../src/gambar/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>CSS | Doni Rivaldo Simamora</title>
</head>
<body>
    <!-- header -->
    <header></header>
    <!-- header -->
    
    <!-- main -->
    <main class="flex flex-1 justify-between flex-row pt-16 min-h-screen">
        <!-- navigasi -->
        <div id="navigasi_kiri_html" class="w-64 top-16 fixed overflow-y-scroll text-white" style="height: 90vh; z-index: 1; background: var(--warna-1);">
            <aside class=" p-6">
                <h2 class="text-2xl font-medium mb-2"> CSS Tutorial </h2>
                <ul class="space-y-2">
                    <li> 
                        <div id="pengenalan_css" class="hover:underline">Pengenalan CSS</div>
                    </li>
                    <li> 
                        <div id="sintax_css" class="hover:underline">CSS Syntax</div>
                    </li>
                    <li> 
                        <div id="selector_css" class="hover:underline">CSS Selector</div>
                    </li>
                </ul>
            </aside>
        </div>
        <!-- navigasi -->

        <div id="isi_content" class="w-5/6 ml-64 p-10">
            <section>
                <h2 class="text-center font-bold text-4xl">Pengenalan CSS</h2>
                <div class="p-2">
                    <h2 class="text-2xl py-5">Apa itu CSS?</h2>
                    <p>CSS adalah bahasa yang kita gunakan untuk menata halaman Web.</p>
                    <ul class="list-disc list-inside space-y-1">
                        <li>CSS adalah singkatan dari <strong>Cascading Style Sheets</strong></li>
                        <li>CSS menjelaskan bagaimana elemen HTML akan ditampilkan di layar, kertas, atau di media lain</li>
                        <li>CSS menghemat banyak pekerjaan. Itu dapat mengontrol tata letak Beberapa halaman web sekaligus</li>
                        <li>Stylesheet eksternal disimpan dalam file CSS</li>
                    </ul>
                </div>

                <hr class="my-10">
                
                <div class="px-2">
                <h2 class="text-2xl pb-3">Mengapa Menggunakan CSS?</h2>
                    <p>
                        CSS digunakan untuk menentukan gaya untuk halaman web Anda, termasuk desain, tata letak dan variasi tampilan untuk perangkat dan ukuran layar yang berbeda.
                    </p>
                    <h2 class="py-5 text-xl">Contoh : </h2>
                    <img src="../../src/gambar/css_sederhana.png" alt="Gambar HTML" class="pb-5">
                </div>

                <hr class="my-10">

                <div class="aspect-w-16 aspect-h-9">
                    <h2 class="text-2xl">Video: Pengenalan CSS</h2>
                    <iframe class="w-[60vw] h-96 rounded-lg shadow-lg mx-auto pt-5" 
                    src="https://www.youtube.com/embed/AGDDdsiZ0Ko?" 
                    title="Video Pengenalan HTML"
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </section> 
        </div>
    </main>
    <!-- main -->

    <!-- footer -->
    <footer class="relative z-50"></footer>
    <!-- footer -->

    <script type="module" src="../../src/fungsi_js/main.js"></script>
    <script src="../script_js/side_bar.js"></script>
    <script type="module" src="../script_js/atur_link_bar_css.js"></script>
</body>
</html>